			#pagtopo{
				display: flex;
				width: 100%;
				height: auto;
				background-color: #0072b1;
				padding: 1% 0 1% 4%;
				position: fixed;
				z-index: 3;
			}
			
			.fixed{
				display: flex;
				width: 100%;
				height: auto;
				background-color: #0072b1;
				padding: 1% 0 1% 4%;
			}
			
			.logo{
				background-color: #0072b1;
				border: none;
			}
			
			#menu{
				width: 100%;
				height: auto;
			}
			
			#menu ul {
				background-color:#0072b1;
				list-style:none;
				float: right;
				padding: 1% 4% 1% 0;
			}
			
			#menu ul li {
				display: inline; 
			}
			
			#menu ul li a {
				padding: 2% 10px;
				display: inline-block;

				/* visual do link */
				background-color:#0072b1;
				color: #fff;
				font-weight: bold;
				text-decoration: none;
			}
			
			#menu ul li a:hover {
				color: #f88324;
			}
			
			
	@media screen and (max-width: 600px) {
		
		#pagtopo{
			display: inline-block;
			width: 100%;
			height: auto;
			padding: 1% 0 1% 4%;
			position: fixed;
			z-index: 3;
		}
		
		.fixed{
			display: inline-block;
			width: 100%;
			height: auto;
			padding: 1% 0 1% 4%;
		}
		
		.logo{
			background-color: #0072b1;
			border: none;
		}
		
		#menu ul li {
			display: inline;
			margin-right: 3%;
		}
		
	}


img{ max-width:100%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding: 1% 0 1% 0; display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}

.gallery_box li:nth-child(odd) .box_data{ background:rgba(0,0,0,0.17) }
.gallery_box li:nth-child(even) .box_data{ background:rgba(0,44,255,0.27) }
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery_box li:hover .box_data{ background:rgba(255,0,39,0.55)}